/*colors:
#f2be54
#cdd4ca
#87aeb4
#153e5c
#191a1d
*/

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h2 {
  padding: 20px;
}

.col-fixed {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:100%;
}

.col-fluid {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:100%;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #cdd4ca;
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  position: static;
}

.dotMain {
  height: 150px;
  width: 150px;
  background-color: #cdd4ca;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  cursor: pointer;

  padding-top: 30px;
  text-align: center;
}

.dot:hover, .dotMain:hover {
  background-color: #f2be54 !important;
}

.line {
  height: 4px;
  width: 40px;
  background-color: #153e5c;
  display: inline-block;
  margin-bottom: 30px;
}

.line2 {
  height: 4px;
  width: 40px;
  background-color: #153e5c;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 155px;
}

.box1 {
  width: 700px;
  margin-top:50px;
  padding:20px;
  border:1px solid;
}

.box2 {
  width: 400px;
  margin-right:0 !important;
  padding:20px;
  border:1px solid;
}

.footer-copyright {
  margin-top: 50px !important;
}

.footer {
  margin-top: 50px !important;
}

th, td {
  padding: 15px;
}

@media (max-width: 991px) {
    .col-fixed { width:70px; }
    .col-fluid { width:100%; }
    .navbarOne { display:none !important; }
    .navbarTwo { display:block !important; }

    .upcomingGames { display:none !important; }
    #upcomingGames { display:none !important; }
    #upcomingGames2 { display:flex !important; }

    .box1 { width:100%; margin-top:0 !important; }
    .box2 { width:100%; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed { width:240px; }
    .col-fluid { width:100%; }

    .upcomingGames { display:none !important; }
    #upcomingGames { display:none !important; }
    #upcomingGames2 { display:flex !important; }

    .box1 { width: 700px; margin-top:0 !important; }
    .box2 { width: 700px !important; }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .col-fixed { width:240px; }
    .col-fluid { width:50%; }

    #upcomingGames2 { display:none !important; }
}

@media (min-width: 1650px) {
    .col-fixed { width:240px; }
    .col-fluid { width:50%; }

    #upcomingGames2 { display:none !important; }
}
