.my-sidebar {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  background-color: greenyellow;
}
.col-fixed {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:100%;
}

.col-fluid {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:100%;
}

@media (max-width: 991px) {
    .col-fixed { width:70px;}
    .col-fluid { width:calc(100% - 350px);}
    .navbarOne { display:none !important; }
    .navbarTwo { display:block !important; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed { width:240px; }
    .col-fluid { width:calc(100% - 350px);}
}

@media (min-width: 1200px) {
    .col-fixed { width:240px; }
    .col-fluid { width:calc(100% - 350px);}
}
